* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navBar {
  margin: 0;
  background-color: rgb(206, 198, 128);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 1rem;
}

.navBar a {
  color: rgb(0, 55, 128);
  font-size: larger;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.navBar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

#site-title {
  font-size: 2rem;
}


